In [1]:
import io
import pandas as pd
from IPython.display import display
import boto3

In [2]:
# Set Buffer
buffer_pbp = io.BytesIO()
buffer_players = io.BytesIO()

# Create connection to S3
s3 = boto3.resource('s3', aws_access_key_id = 'AKIAWNNDBSXELJDB2NPI', aws_secret_access_key = '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')

In [3]:
# Read PBP Data from S3
pbp_object = s3.Object('utd-hackathon', 'event_pbp.parquet')
pbp_object.download_fileobj(buffer_pbp)

df_pbp = pd.read_parquet(buffer_pbp)

In [4]:
for col in df_pbp.columns:
    print(col)
display(df_pbp)

id
gameId
nbaGameId
date
season
seasonType
nbaTeamId
team
opponent
offTeamId
defTeamId
pbpId
period
gameClock
wallClock
wallClockInt
msgType
actionType
option1
option2
option3
option4
description
homeScore
awayScore
playerId1
statValue1
playerId2
statValue2
playerId3
statValue3
locX
locY
pts
pbpOrder
lastName1
statCategory1
lastName2
statCategory2
lastName3
gameStatus
changeDate

,id,gameId,nbaGameId,date,season,seasonType,nbaTeamId,team,opponent,offTeamId,...,locY,pts,pbpOrder,lastName1,statCategory1,lastName2,statCategory2,lastName3,gameStatus,changeDate
0,2022-10-18-LAL-GSW_2,2022-10-18-LAL-GSW,0022200002,2022-10-18,2023,Regular,None,LAL,GSW,0,...,-80,0,20000,None,None,None,None,None,3,2022-10-20 12:13:07
1,2022-10-18-LAL-GSW_4,2022-10-18-LAL-GSW,0022200002,2022-10-18,2023,Regular,1610612747,GSW,LAL,1610612747,...,-80,0,60000,None,None,Looney,None,None,3,2022-10-20 12:13:07
2,2022-10-18-LAL-GSW_7,2022-10-18-LAL-GSW,0022200002,2022-10-18,2023,Regular,1610612744,GSW,LAL,1610612747,...,26,0,70000,Looney,PF,Davis,None,Brothers,3,2022-10-20 12:13:07
3,2022-10-18-LAL-GSW_9,2022-10-18-LAL-GSW,0022200002,2022-10-18,2023,Regular,1610612747,LAL,GSW,1610612747,...,-1,2,90000,Davis,PTS,None,None,None,3,2022-10-20 12:13:07
4,2022-10-18-LAL-GSW_10,2022-10-18-LAL-GSW,0022200002,2022-10-18,2023,Regular,1610612744,GSW,LAL,1610612744,...,81,0,100000,Wiggins,None,None,None,None,3,2022-10-20 12:13:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587743,2023-04-09-NOP-MIN_716,2023-04-09-NOP-MIN,0022201225,2023-04-09,2023,Regular,1610612750,MIN,NOP,1610612750,...,-80,0,7000000,Alexander-Walker,None,Towns,None,None,3,2023-04-09 17:10:09
587744,2023-04-09-NOP-MIN_718,2023-04-09-NOP-MIN,0022201225,2023-04-09,2023,Regular,1610612740,NOP,MIN,1610612750,...,20,0,7020000,McCollum,PF,Conley,None,Brothers,3,2023-04-09 17:10:09
587745,2023-04-09-NOP-MIN_720,2023-04-09-NOP-MIN,0022201225,2023-04-09,2023,Regular,1610612750,MIN,NOP,1610612750,...,-80,1,7040000,Conley,PTS,None,None,None,3,2023-04-09 17:10:09
587746,2023-04-09-NOP-MIN_721,2023-04-09-NOP-MIN,0022201225,2023-04-09,2023,Regular,1610612750,MIN,NOP,1610612750,...,-80,1,7050000,Conley,PTS,None,None,None,3,2023-04-09 17:10:09
587747,2023-04-09-NOP-MIN_722,2023-04-09-NOP-MIN,0022201225,2023-04-09,2023,Regular,None,NOP,MIN,1610612740,...,-80,0,7060000,None,None,None,None,None,3,2023-04-09 17:10:09

In [5]:
players_object = s3.Object('utd-hackathon', 'game_players.parquet')
players_object.download_fileobj(buffer_players)

df_players = pd.read_parquet(buffer_players)

In [6]:
for col in df_players.columns:
    print(col)
display(df_players)

id
gameId
nbaGameId
date
season
seasonType
nbaTeamId
team
opponentId
opponent
teamPts
oppPts
teamMargin
outcome
isHome
nbaId
name
jerseyNum
gp
gs
startPos
isOnCourt
boxScoreOrder
minDisplay
secDisplay
min
secPlayed
fgm
fga
ftm
fta
tpm
tpa
oreb
dreb
reb
ast
stl
blk
tov
pf
pts
plusMinus
flagrants
techs
ejections
blkA
fbPts
fbM
fbA
pitp
pitpM
pitpA
secChancePts
secChanceM
secChanceA
gameStatus
changeDate

,id,gameId,nbaGameId,date,season,seasonType,nbaTeamId,team,opponentId,opponent,...,fbM,fbA,pitp,pitpM,pitpA,secChancePts,secChanceM,secChanceA,gameStatus,changeDate
0,2022-10-18-LAL-GSW_1626172,2022-10-18-LAL-GSW,0022200002,2022-10-18,2023,Regular,1610612744,GSW,1610612747,LAL,...,1,1,6,3,4,2,1,1,3,2022-12-04 15:14:56
1,2022-10-18-LAL-GSW_1627745,2022-10-18-LAL-GSW,0022200002,2022-10-18,2023,Regular,1610612747,LAL,1610612744,GSW,...,0,0,0,0,0,0,0,0,3,2022-12-04 15:14:56
2,2022-10-18-LAL-GSW_1628418,2022-10-18-LAL-GSW,0022200002,2022-10-18,2023,Regular,1610612747,LAL,1610612744,GSW,...,0,0,0,0,0,0,0,0,3,2022-12-04 15:14:56
3,2022-10-18-LAL-GSW_1628972,2022-10-18-LAL-GSW,0022200002,2022-10-18,2023,Regular,1610612747,LAL,1610612744,GSW,...,0,0,0,0,0,0,0,0,3,2022-12-04 15:14:56
4,2022-10-18-LAL-GSW_1628978,2022-10-18-LAL-GSW,0022200002,2022-10-18,2023,Regular,1610612744,GSW,1610612747,LAL,...,0,0,2,1,3,0,0,0,3,2022-12-04 15:14:56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40926,2023-04-09-UTA-LAL_203076,2023-04-09-UTA-LAL,0022201228,2023-04-09,2023,Regular,1610612747,LAL,1610612762,UTA,...,1,1,12,6,11,6,3,3,3,2023-04-09 16:46:07
40927,2023-04-09-UTA-LAL_203471,2023-04-09-UTA-LAL,0022201228,2023-04-09,2023,Regular,1610612747,LAL,1610612762,UTA,...,0,0,0,0,0,0,0,0,3,2023-04-09 16:46:07
40928,2023-04-09-UTA-LAL_203482,2023-04-09-UTA-LAL,0022201228,2023-04-09,2023,Regular,1610612762,UTA,1610612747,LAL,...,1,1,10,5,6,3,1,2,3,2023-04-09 16:46:07
40929,2023-04-09-UTA-LAL_203903,2023-04-09-UTA-LAL,0022201228,2023-04-09,2023,Regular,1610612762,UTA,1610612747,LAL,...,0,0,0,0,0,0,0,0,3,2023-04-09 16:46:07
40930,2023-04-09-UTA-LAL_2544,2023-04-09-UTA-LAL,0022201228,2023-04-09,2023,Regular,1610612747,LAL,1610612762,UTA,...,6,8,8,4,7,6,2,3,3,2023-04-09 16:46:07

In [3]:
import requests
import json

response = requests.post(
  "https://api.respell.ai/v1/run",
  headers={
    # This is your API key
    'Authorization': 'Bearer 8ec70ba3-a143-4f24-9b93-aba585634884',
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  },
  data=json.dumps({
    "spellId": "1YKuqC63DY8DCn2V7rtSX",
    # This field can be omitted to run the latest published version
    "spellVersionId": 'y_Eb9ZDLjeeh6Uv-4gKFN',
    # Fill in a dynamic value for your input block
    "inputs": {
      "text_input": '10 icons of Indian slots icons',
    }
  }),
)